<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.loconav.lookup">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.VIBRATE" />

    <uses-feature android:name="android.hardware.camera.flash" />

    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-feature android:name="android.hardware.location.gps" />

    <application
        android:name=".application.LookUpApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_lookup_app_icon"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@drawable/ic_lookup_app_icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="com.google.firebase.ml.vision.DEPENDENCIES"
            android:value="ocr" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.lookuploconav.lookup"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
        <service
            android:name=".model.LocationUpdatesService"
            android:icon="@drawable/app_icon"
            android:label="LocationUpdater"
            >
        </service>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="c3f556f16fbe6c8fcdb26aad51c6deec9162a6fb" />

        <activity
            android:name=".FastTagActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".login.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/FullScreen"
            android:windowSoftInputMode="stateAlwaysVisible|adjustPan" />
        <activity
            android:name=".login.SplashActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LookupSubActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".LandingActivity"
            android:screenOrientation="portrait"
            android:theme="@style/FullScreen"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".customcamera.CameraOpenActivity"
            android:screenOrientation="portrait"
            android:theme="@style/FullScreen" />
        <activity android:name=".BaseNavigationActivity"
            android:screenOrientation="portrait"
            />

        <receiver android:name=".location.LocationBroadcastReciever" />
    </application>

</manifest>